/* css */
/* 시작레이아웃요소 가운데 배치하는 법 3게 */
/* 1. text-align */
/* 2. margin */
/* 3. flex */
body {
/*   display:flex;
     justify-content:center; */
/*   text-align:center; */
    /* text-align은 인라인 자식,자손에만 적용 */
}
main {
    margin:0 auto;
/*  display:inline-block; */
    background-image:url(../images/bg.jpg);
    width:402px; min-height:874px;
    background-size: 100% auto; /* w, h (px, %)*/
    background-position: center ; /* x, y (px, %, 방향)*/
}
main .title {
    text-align:center;
    padding-top: 150px;
    margin-bottom:200px;
}
main .title p {
    font-size:0.75em;
    letter-spacing:-0.02em;
    margin-bottom:8px;
}
main .title h1 {
    font-size:1.5em;
    font-weight:600;
    letter-spacing:-0.02em;
}
main .contents {
    display:flex;
    flex-flow:column nowrap;
    /* 메인축-수직, 줄바꿈 안함 */
    /* 플렉스를 설정한 부모의 자식이 인라인일 경우, 자식이 자동으로 블록으로 인식된다. */
    align-items:center;
    /* 교차축이 1줄일 때 가운데 정렬 */
    gap:6px;
    /* 플렉스 설정 시 자식사이 간격(자식에 주는 마진과 효과 동일) */
}
main .contents > * {
    width:300px; height:42px;
    border-radius:8px;
    letter-spacing:-0.02em;
    
} 
main .contents #user_birthday {
    /* input 태그 입력 전 상태 */
    border:1px solid rgba(0,0,0,0.5);
    color:#000; /* 사용자가 입력했을 때 글자색상 */
    font-size:0.875em;
    text-align:center;
}
/* input태그의 placeholder(안내문) 전용 선택자 글자색상 */
main .contents #user_birthday::placeholder {
    color:rgba(0,0,0,0.4)
}
/* input 태그가 활성화 되었을 때(커서가 들어오고 입력되는 상황) */
main .contents #user_birthday:focus {border-color:#f00;}
/* 버튼 */
main .contents #birthday_result_btn {
    background-color:#191919;
    color:#fff;
    font-weight:600;
}